{
  "openapi": "3.0.0",
  "info": {
    "title": "Terra REST apis",
    "description": "Terra LCD and FCD docs",
    "contact": {},
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://phoenix-lcd.terra.dev"
    },
    {
      "url": "https://pisco-lcd.terra.dev"
    }
  ],
  "paths": {
    "/node_info": {
      "get": {
        "tags": [
          "Terra REST"
        ],
        "summary": "The properties of the connected node",
        "description": "Information about the connected node",
        "operationId": "Thepropertiesoftheconnectednode",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Node status",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThepropertiesoftheconnectednodeResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to query node status",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/syncing": {
      "get": {
        "tags": [
          "Tendermint RPC"
        ],
        "summary": "Syncing state of node",
        "description": "Get if the node is currently syning with other nodes",
        "operationId": "Syncingstateofnode",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Node syncing status",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncingstateofnodeResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server internal error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/blocks/latest": {
      "get": {
        "tags": [
          "Tendermint RPC"
        ],
        "summary": "Get the latest block",
        "description": "Get the latest block",
        "operationId": "Getthelatestblock",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The latest block",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockQuery"
                }
              }
            }
          },
          "500": {
            "description": "Server internal error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/blocks/{height}": {
      "get": {
        "tags": [
          "Tendermint RPC"
        ],
        "summary": "Get a block at a certain height",
        "description": "Get a block at a certain height",
        "operationId": "Getablockatacertainheight",
        "parameters": [
          {
            "name": "height",
            "in": "path",
            "description": "Block height",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "number",
              "format": "double",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The block at a specific height",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockQuery"
                }
              }
            }
          },
          "400": {
            "description": "Invalid height",
            "headers": {},
            "content": {}
          },
          "404": {
            "description": "Request block height doesn't",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Server internal error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/validatorsets/latest": {
      "get": {
        "tags": [
          "Tendermint RPC"
        ],
        "summary": "Get the latest validator set",
        "description": "Get the latest validator set",
        "operationId": "Getthelatestvalidatorset",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The validator set at the latest block height",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetthelatestvalidatorsetResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server internal error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/validatorsets/{height}": {
      "get": {
        "tags": [
          "Tendermint RPC"
        ],
        "summary": "Get a validator set a certain height",
        "description": "Get a validator set a certain height",
        "operationId": "Getavalidatorsetacertainheight",
        "parameters": [
          {
            "name": "height",
            "in": "path",
            "description": "Block height",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "number",
              "format": "double",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The validator set at a specific block height",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetavalidatorsetacertainheightResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid height",
            "headers": {},
            "content": {}
          },
          "404": {
            "description": "Block at height not available",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Server internal error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/txs/{hash}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get a Tx by hash",
        "description": "Retrieve a transaction using its hash.",
        "operationId": "GetaTxbyhash",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "Tx hash",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "BCBE20E8D46758B96AE5883B792858296AC06E51435490FBDCAE25A72B3CC76B"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tx with the provided hash",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TxQuery"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/txs": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Search transactions",
        "description": "Search transactions by events.",
        "operationId": "Searchtransactions",
        "parameters": [
          {
            "name": "message.action",
            "in": "query",
            "description": "transaction events such as 'message.action=send' which results in the following endpoint: 'GET /txs?message.action=send'. note that each module documents its own events. look for xx_events.md in the corresponding cosmos-sdk/docs/spec directory",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "send"
            }
          },
          {
            "name": "message.sender",
            "in": "query",
            "description": "transaction events with sender: 'GET /txs?message.action=send&message.sender=terra1wg2mlrxdmnnkkykgqg4znky86nyrtc45q336yv'",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "terra1wg2mlrxdmnnkkykgqg4znky86nyrtc45q336yv"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items per page",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "tx.minheight",
            "in": "query",
            "description": "transactions on blocks with height greater or equal this value",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 25
            }
          },
          {
            "name": "tx.maxheight",
            "in": "query",
            "description": "transactions on blocks with height less than or equal this value",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 800000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All txs matching the provided events",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedQueryTxs"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search events",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Broadcast a signed tx",
        "description": "Broadcast a signed tx to a full node",
        "operationId": "Broadcastasignedtx",
        "parameters": [],
        "requestBody": {
          "description": "The tx must be a signed StdTx. The supported broadcast modes include `\"block\"`(return after tx commit), `\"sync\"`(return afer CheckTx) and `\"async\"`(return right away).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/txBroadcast"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tx broadcasting result",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastTxCommitResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/txs/encode": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Encode a legacy transaction to the Proto wire format",
        "description": "Encode a legacy transaction (signed or not) from JSON to base64-encoded Proto serialized bytes",
        "operationId": "EncodealegacytransactiontotheProtowireformat",
        "parameters": [],
        "requestBody": {
          "description": "The tx to encode",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tx10"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The tx was successfully decoded and re-encoded",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EncodealegacytransactiontotheProtowireformatResponse"
                }
              }
            }
          },
          "400": {
            "description": "The tx was malformed",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Server internal error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/txs/decode": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Decode a transaction from the Amino wire format",
        "description": "Decode a transaction (signed or not) from base64-encoded Amino serialized bytes to JSON",
        "operationId": "DecodeatransactionfromtheAminowireformat",
        "parameters": [],
        "requestBody": {
          "description": "The tx to decode",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tx12"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The tx was successfully decoded",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StdTx"
                }
              }
            }
          },
          "400": {
            "description": "The tx was malformed",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Server internal error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/txs/estimate_fee": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Estimate fee and gas of a transaction",
        "description": "Estimate fee and gas of a transaction according to given parameters",
        "operationId": "Estimatefeeandgasofatransaction",
        "parameters": [],
        "requestBody": {
          "description": "The sender and tx information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/transaction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The fee was successfully estimated",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimatefeeandgasofatransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "The tx was malformed",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Server internal error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/v1/txs/gas_prices": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get gas prices",
        "description": "Get gas prices",
        "operationId": "Getgasprices",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getGasPricesResult"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/mempool": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get transactions in mempool",
        "description": "Get transactions in mempool",
        "operationId": "Gettransactionsinmempool",
        "parameters": [
          {
            "name": "account",
            "in": "query",
            "description": "Account address",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/txs"
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/mempool/{txhash}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get transaction in mempool",
        "description": "Get transaction in mempool",
        "operationId": "Gettransactioninmempool",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            }
          },
          {
            "name": "txhash",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getMempoolByHashResult"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/tx/{txhash}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get Tx",
        "description": "Get Tx",
        "operationId": "GetTx",
        "parameters": [
          {
            "name": "txhash",
            "in": "path",
            "description": "Tx Hash",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTxResult"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/txs": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get Tx List",
        "description": "Get Tx List",
        "operationId": "GetTxList",
        "parameters": [
          {
            "name": "account",
            "in": "query",
            "description": "Account address",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "block",
            "in": "query",
            "description": "Block number",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chainId",
            "in": "query",
            "description": "Chain ID of Blockchain (default: chain id of mainnet)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Use next property from previous result for pagination",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Size of page",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTxListResult"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Broadcast Txs",
        "description": "Broadcast Txs",
        "operationId": "BroadcastTxs",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postTxsBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postTxsResult"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/bank/balances/{address}": {
      "get": {
        "tags": [
          "Bank"
        ],
        "summary": "Get the account balances",
        "description": "Get the account balances",
        "operationId": "Gettheaccountbalances",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Account address in bech32 format",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "terra1wg2mlrxdmnnkkykgqg4znky86nyrtc45q336yv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account balances",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Coin"
                  },
                  "description": ""
                }
              }
            }
          },
          "500": {
            "description": "Server internal error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/bank/accounts/{address}/transfers": {
      "post": {
        "tags": [
          "Bank"
        ],
        "summary": "Send coins from one account to another",
        "description": "Send coins from one account to another",
        "operationId": "Sendcoinsfromoneaccounttoanother",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Account address in bech32 format",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "terra1wg2mlrxdmnnkkykgqg4znky86nyrtc45q336yv"
            }
          }
        ],
        "requestBody": {
          "description": "The sender and tx information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/account2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Tx was successfully generated",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StdTx"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Server internal error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/bank/total": {
      "get": {
        "tags": [
          "Bank"
        ],
        "summary": "Total supply of coins in the chain",
        "description": "Total supply of coins in the chain",
        "operationId": "Totalsupplyofcoinsinthechain",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Supply"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/bank/total/{denomination}": {
      "get": {
        "tags": [
          "Bank"
        ],
        "summary": "Total supply of a single coin denomination",
        "description": "Total supply of a single coin denomination",
        "operationId": "Totalsupplyofasinglecoindenomination",
        "parameters": [
          {
            "name": "denomination",
            "in": "path",
            "description": "Coin denomination",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "uluna"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid coin denomination",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/v1/bank/{account}": {
      "get": {
        "tags": [
          "Bank"
        ],
        "summary": "Get account information",
        "description": "Get account information",
        "operationId": "Getaccountinformation",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "Account address in bech32 format",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getBankResult"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/auth/accounts/{address}": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get the account information on blockchain",
        "description": "Get the account information on blockchain",
        "operationId": "Gettheaccountinformationonblockchain",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Account address",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "terra1wg2mlrxdmnnkkykgqg4znky86nyrtc45q336yv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account information on the blockchain",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GettheaccountinformationonblockchainResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server internal error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/staking/delegators/{delegatorAddr}/delegations": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Get all delegations from a delegator",
        "description": "Get all delegations from a delegator",
        "operationId": "Getalldelegationsfromadelegator",
        "parameters": [
          {
            "name": "delegatorAddr",
            "in": "path",
            "description": "Bech32 AccAddress of Delegator",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "terra1wg2mlrxdmnnkkykgqg4znky86nyrtc45q336yv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Delegation"
                  },
                  "description": ""
                }
              }
            }
          },
          "400": {
            "description": "Invalid delegator address",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Staking"
        ],
        "summary": "Submit delegation",
        "description": "Submit delegation",
        "operationId": "Submitdelegation",
        "parameters": [
          {
            "name": "delegatorAddr",
            "in": "path",
            "description": "Bech32 AccAddress of Delegator",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "terra1wg2mlrxdmnnkkykgqg4znky86nyrtc45q336yv"
            }
          }
        ],
        "requestBody": {
          "description": "Delegate an amount of liquid coins to a validator",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/delegation7"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StdTx"
                }
              }
            }
          },
          "400": {
            "description": "Invalid delegator address or delegation request body",
            "headers": {},
            "content": {}
          },
          "401": {
            "description": "Key password is wrong",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/staking/delegators/{delegatorAddr}/delegations/{validatorAddr}": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Query the current delegation between a delegator and a validator",
        "description": "Query the current delegation between a delegator and a validator",
        "operationId": "Querythecurrentdelegationbetweenadelegatorandavalidator",
        "parameters": [
          {
            "name": "delegatorAddr",
            "in": "path",
            "description": "Bech32 AccAddress of Delegator",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "terra1wg2mlrxdmnnkkykgqg4znky86nyrtc45q336yv"
            }
          },
          {
            "name": "validatorAddr",
            "in": "path",
            "description": "Bech32 OperatorAddress of validator",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "terravaloper1wg2mlrxdmnnkkykgqg4znky86nyrtc45q7a85l"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Delegation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid delegator address or validator address",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/staking/delegators/{delegatorAddr}/unbonding_delegations": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Get all unbonding delegations from a delegator",
        "description": "Get all unbonding delegations from a delegator",
        "operationId": "Getallunbondingdelegationsfromadelegator",
        "parameters": [
          {
            "name": "delegatorAddr",
            "in": "path",
            "description": "Bech32 AccAddress of Delegator",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "terra1wg2mlrxdmnnkkykgqg4znky86nyrtc45q336yv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UnbondingDelegation"
                  },
                  "description": ""
                }
              }
            }
          },
          "400": {
            "description": "Invalid delegator address",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Staking"
        ],
        "summary": "Submit an unbonding delegation",
        "description": "Submit an unbonding delegation",
        "operationId": "Submitanunbondingdelegation",
        "parameters": [
          {
            "name": "delegatorAddr",
            "in": "path",
            "description": "Bech32 AccAddress of Delegator",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "terra1wg2mlrxdmnnkkykgqg4znky86nyrtc45q336yv"
            }
          }
        ],
        "requestBody": {
          "description": "Unbond an amount of bonded shares from a validator",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/delegation7"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StdTx"
                }
              }
            }
          },
          "400": {
            "description": "Invalid delegator address or unbonding delegation request body",
            "headers": {},
            "content": {}
          },
          "401": {
            "description": "Key password is wrong",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/staking/delegators/{delegatorAddr}/unbonding_delegations/{validatorAddr}": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Query all unbonding delegations between a delegator and a validator",
        "description": "Query all unbonding delegations between a delegator and a validator",
        "operationId": "Queryallunbondingdelegationsbetweenadelegatorandavalidator",
        "parameters": [
          {
            "name": "delegatorAddr",
            "in": "path",
            "description": "Bech32 AccAddress of Delegator",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "terra1wg2mlrxdmnnkkykgqg4znky86nyrtc45q336yv"
            }
          },
          {
            "name": "validatorAddr",
            "in": "path",
            "description": "Bech32 OperatorAddress of validator",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "terravaloper1wg2mlrxdmnnkkykgqg4znky86nyrtc45q7a85l"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnbondingDelegation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid delegator address or validator address",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/staking/redelegations": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Get all redelegations (filter by query params)",
        "description": "Get all redelegations (filter by query params)",
        "operationId": "Getallredelegations(filterbyqueryparams)",
        "parameters": [
          {
            "name": "delegator",
            "in": "query",
            "description": "Bech32 AccAddress of Delegator",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "validator_from",
            "in": "query",
            "description": "Bech32 ValAddress of SrcValidator",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "validator_to",
            "in": "query",
            "description": "Bech32 ValAddress of DstValidator",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Redelegation"
                  },
                  "description": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/staking/delegators/{delegatorAddr}/redelegations": {
      "post": {
        "tags": [
          "Staking"
        ],
        "summary": "Submit a redelegation",
        "description": "Submit a redelegation",
        "operationId": "Submitaredelegation",
        "parameters": [
          {
            "name": "delegatorAddr",
            "in": "path",
            "description": "Bech32 AccAddress of Delegator",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "terra1wg2mlrxdmnnkkykgqg4znky86nyrtc45q336yv"
            }
          }
        ],
        "requestBody": {
          "description": "The sender and tx information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/delegation10"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Tx was successfully generated",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StdTx"
                }
              }
            }
          },
          "400": {
            "description": "Invalid delegator address or redelegation request body",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/staking/delegators/{delegatorAddr}/validators": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Query all validators that a delegator is bonded to",
        "description": "Query all validators that a delegator is bonded to",
        "operationId": "Queryallvalidatorsthatadelegatorisbondedto",
        "parameters": [
          {
            "name": "delegatorAddr",
            "in": "path",
            "description": "Bech32 AccAddress of Delegator",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "terra1wg2mlrxdmnnkkykgqg4znky86nyrtc45q336yv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Validator"
                  },
                  "description": ""
                }
              }
            }
          },
          "400": {
            "description": "Invalid delegator address",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/staking/delegators/{delegatorAddr}/validators/{validatorAddr}": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Query a validator that a delegator is bonded to",
        "description": "Query a validator that a delegator is bonded to",
        "operationId": "Queryavalidatorthatadelegatorisbondedto",
        "parameters": [
          {
            "name": "delegatorAddr",
            "in": "path",
            "description": "Bech32 AccAddress of Delegator",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "terra1wg2mlrxdmnnkkykgqg4znky86nyrtc45q336yv"
            }
          },
          {
            "name": "validatorAddr",
            "in": "path",
            "description": "Bech32 ValAddress of Delegator",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "terravaloper1wg2mlrxdmnnkkykgqg4znky86nyrtc45q7a85l"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validator"
                }
              }
            }
          },
          "400": {
            "description": "Invalid delegator address or validator address",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/staking/validators": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Get all validator candidates. By default it returns only the bonded validators.",
        "description": "Get all validator candidates. By default it returns only the bonded validators.",
        "operationId": "Getallvalidatorcandidates.Bydefaultitreturnsonlythebondedvalidators.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "The validator bond status. Must be either 'bonded', 'unbonded', or 'unbonding'.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "bonded"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items per page.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Validator"
                  },
                  "description": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/staking/validators/{validatorAddr}": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Query the information from a single validator",
        "description": "Query the information from a single validator",
        "operationId": "Querytheinformationfromasinglevalidator",
        "parameters": [
          {
            "name": "validatorAddr",
            "in": "path",
            "description": "Bech32 OperatorAddress of validator",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "terravaloper1wg2mlrxdmnnkkykgqg4znky86nyrtc45q7a85l"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validator"
                }
              }
            }
          },
          "400": {
            "description": "Invalid validator address",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/staking/validators/{validatorAddr}/delegations": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Get all delegations from a validator",
        "description": "Get all delegations from a validator",
        "operationId": "Getalldelegationsfromavalidator",
        "parameters": [
          {
            "name": "validatorAddr",
            "in": "path",
            "description": "Bech32 OperatorAddress of validator",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "terravaloper1wg2mlrxdmnnkkykgqg4znky86nyrtc45q7a85l"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Delegation"
                  },
                  "description": ""
                }
              }
            }
          },
          "400": {
            "description": "Invalid validator address",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/staking/validators/{validatorAddr}/unbonding_delegations": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Get all unbonding delegations from a validator",
        "description": "Get all unbonding delegations from a validator",
        "operationId": "Getallunbondingdelegationsfromavalidator",
        "parameters": [
          {
            "name": "validatorAddr",
            "in": "path",
            "description": "Bech32 OperatorAddress of validator",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "terravaloper1wg2mlrxdmnnkkykgqg4znky86nyrtc45q7a85l"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UnbondingDelegation"
                  },
                  "description": ""
                }
              }
            }
          },
          "400": {
            "description": "Invalid validator address",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/staking/pool": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Get the current state of the staking pool",
        "description": "Get the current state of the staking pool",
        "operationId": "Getthecurrentstateofthestakingpool",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetthecurrentstateofthestakingpoolResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/staking/parameters": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Get the current staking parameter values",
        "description": "Get the current staking parameter values",
        "operationId": "Getthecurrentstakingparametervalues",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetthecurrentstakingparametervaluesResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/v1/staking": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Get all validators and staking info",
        "description": "Get all validators and staking info",
        "operationId": "Getallvalidatorsandstakinginfo",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/validators"
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/staking/{account}": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Get all validators and staking info with account",
        "description": "Get all validators and staking info with account",
        "operationId": "Getallvalidatorsandstakinginfowithaccount",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "User's account address",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getStakingForAccountResult"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/staking/return": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Get total staking return",
        "description": "Get total staking return",
        "operationId": "Gettotalstakingreturn",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "number",
                  "format": "double"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/staking/validators/{operatorAddr}/claims": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Get validators claims",
        "description": "Get validators claims",
        "operationId": "Getvalidatorsclaims",
        "parameters": [
          {
            "name": "operatorAddr",
            "in": "path",
            "description": "validators operator address",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getValidatorClaimsResult"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/staking/validators/{operatorAddr}/delegations": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Get validators delegations",
        "description": "Get validators delegations",
        "operationId": "Getvalidatorsdelegations",
        "parameters": [
          {
            "name": "operatorAddr",
            "in": "path",
            "description": "validators operator address",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getValidatorDelegationsResult"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/staking/validators/{operatorAddr}/delegators": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Get validators delegators",
        "description": "Get validators delegators",
        "operationId": "Getvalidatorsdelegators",
        "parameters": [
          {
            "name": "operatorAddr",
            "in": "path",
            "description": "validators operator address",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getValidatorDelegatorsResult"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/staking/validators/{operatorAddr}": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Get validator detail",
        "description": "Get validator detail",
        "operationId": "Getvalidatordetail",
        "parameters": [
          {
            "name": "operatorAddr",
            "in": "path",
            "description": "Operator address",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account",
            "in": "query",
            "description": "User address",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getValidatorDetailResult"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/staking/return/{operatorAddr}": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Get validators staking return",
        "description": "Get validators staking return",
        "operationId": "Getvalidatorsstakingreturn",
        "parameters": [
          {
            "name": "operatorAddr",
            "in": "path",
            "description": "validators operator address",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "number",
                  "format": "double"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/staking/validators": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Get all validator info",
        "description": "Get all validator info",
        "operationId": "Getallvalidatorinfo",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/validator15"
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/slashing/signing_infos": {
      "get": {
        "tags": [
          "Slashing"
        ],
        "summary": "Get sign info of given all validators",
        "description": "Get sign info of all validators",
        "operationId": "Getsigninfoofgivenallvalidators",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items per page",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SigningInfo"
                  },
                  "description": ""
                }
              }
            }
          },
          "400": {
            "description": "Invalid validator public key for one of the validators",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/slashing/validators/{validatorAddr}/unjail": {
      "post": {
        "tags": [
          "Slashing"
        ],
        "summary": "Unjail a jailed validator",
        "description": "Send transaction to unjail a jailed validator",
        "operationId": "Unjailajailedvalidator",
        "parameters": [
          {
            "name": "validatorAddr",
            "in": "path",
            "description": "Bech32 validator address",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "terravaloper1wg2mlrxdmnnkkykgqg4znky86nyrtc45q7a85l"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnjailBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tx was successfully generated",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StdTx"
                }
              }
            }
          },
          "400": {
            "description": "Invalid validator address or base_req",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/slashing/parameters": {
      "get": {
        "tags": [
          "Slashing"
        ],
        "summary": "Get the current slashing parameters",
        "description": "Get the current slashing parameters",
        "operationId": "Getthecurrentslashingparameters",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetthecurrentslashingparametersResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/gov/proposals": {
      "post": {
        "tags": [
          "Governance"
        ],
        "summary": "Submit a proposal",
        "description": "Send transaction to submit a proposal",
        "operationId": "Submitaproposal",
        "parameters": [],
        "requestBody": {
          "description": "valid value of `\"proposal_type\"` can be `\"text\"`, `\"parameter_change\"`, `\"software_upgrade\"`",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/post_proposal_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tx was successfully generated",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StdTx"
                }
              }
            }
          },
          "400": {
            "description": "Invalid proposal body",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Governance"
        ],
        "summary": "Query proposals",
        "description": "Query proposals information with parameters",
        "operationId": "Queryproposals",
        "parameters": [
          {
            "name": "voter",
            "in": "query",
            "description": "voter address",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "depositor",
            "in": "query",
            "description": "depositor address",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "proposal status, valid values can be `\"deposit_period\"`, `\"voting_period\"`, `\"passed\"`, `\"rejected\"`",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TextProposal"
                  },
                  "description": ""
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/gov/proposals/param_change": {
      "post": {
        "tags": [
          "Governance"
        ],
        "summary": "Generate a parameter change proposal transaction",
        "description": "Generate a parameter change proposal transaction",
        "operationId": "Generateaparameterchangeproposaltransaction",
        "parameters": [],
        "requestBody": {
          "description": "The parameter change proposal body that contains all parameter changes",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/post_proposal_body1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The transaction was successfully generated",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StdTx"
                }
              }
            }
          },
          "400": {
            "description": "Invalid proposal body",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/gov/proposals/{proposalId}": {
      "get": {
        "tags": [
          "Governance"
        ],
        "summary": "Query a proposal",
        "description": "Query a proposal by id",
        "operationId": "Queryaproposal",
        "parameters": [
          {
            "name": "proposalId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextProposal"
                }
              }
            }
          },
          "400": {
            "description": "Invalid proposal id",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/gov/proposals/{proposalId}/proposer": {
      "get": {
        "tags": [
          "Governance"
        ],
        "summary": "Query proposer",
        "description": "Query for the proposer for a proposal",
        "operationId": "Queryproposer",
        "parameters": [
          {
            "name": "proposalId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proposer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid proposal ID",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/gov/proposals/{proposalId}/deposits": {
      "get": {
        "tags": [
          "Governance"
        ],
        "summary": "Query deposits",
        "description": "Query deposits by proposalId",
        "operationId": "Querydeposits",
        "parameters": [
          {
            "name": "proposalId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Deposit"
                  },
                  "description": ""
                }
              }
            }
          },
          "400": {
            "description": "Invalid proposal id",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Governance"
        ],
        "summary": "Deposit tokens to a proposal",
        "description": "Send transaction to deposit tokens to a proposal",
        "operationId": "Deposittokenstoaproposal",
        "parameters": [
          {
            "name": "proposalId",
            "in": "path",
            "description": "proposal id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "2"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/post_deposit_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StdTx"
                }
              }
            }
          },
          "400": {
            "description": "Invalid proposal id or deposit body",
            "headers": {},
            "content": {}
          },
          "401": {
            "description": "Key password is wrong",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/gov/proposals/{proposalId}/deposits/{depositor}": {
      "get": {
        "tags": [
          "Governance"
        ],
        "summary": "Query deposit",
        "description": "Query deposit by proposalId and depositor address",
        "operationId": "Querydeposit",
        "parameters": [
          {
            "name": "proposalId",
            "in": "path",
            "description": "proposal id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "2"
            }
          },
          {
            "name": "depositor",
            "in": "path",
            "description": "Bech32 depositor address",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "terra1wg2mlrxdmnnkkykgqg4znky86nyrtc45q336yv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deposit"
                }
              }
            }
          },
          "400": {
            "description": "Invalid proposal id or depositor address",
            "headers": {},
            "content": {}
          },
          "404": {
            "description": "Found no deposit",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/gov/proposals/{proposalId}/votes": {
      "get": {
        "tags": [
          "Governance"
        ],
        "summary": "Query voters",
        "description": "Query voters information by proposalId",
        "operationId": "Queryvoters",
        "parameters": [
          {
            "name": "proposalId",
            "in": "path",
            "description": "proposal id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Vote"
                  },
                  "description": ""
                }
              }
            }
          },
          "400": {
            "description": "Invalid proposal id",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Governance"
        ],
        "summary": "Vote a proposal",
        "description": "Send transaction to vote a proposal",
        "operationId": "Voteaproposal",
        "parameters": [
          {
            "name": "proposalId",
            "in": "path",
            "description": "proposal id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "2"
            }
          }
        ],
        "requestBody": {
          "description": "valid value of `\"option\"` field can be `\"yes\"`, `\"no\"`, `\"no_with_veto\"` and `\"abstain\"`",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/post_vote_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StdTx"
                }
              }
            }
          },
          "400": {
            "description": "Invalid proposal id or vote body",
            "headers": {},
            "content": {}
          },
          "401": {
            "description": "Key password is wrong",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/gov/proposals/{proposalId}/votes/{voter}": {
      "get": {
        "tags": [
          "Governance"
        ],
        "summary": "Query vote",
        "description": "Query vote information by proposal Id and voter address",
        "operationId": "Queryvote",
        "parameters": [
          {
            "name": "proposalId",
            "in": "path",
            "description": "proposal id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "2"
            }
          },
          {
            "name": "voter",
            "in": "path",
            "description": "Bech32 voter address",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "terra1wg2mlrxdmnnkkykgqg4znky86nyrtc45q336yv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vote"
                }
              }
            }
          },
          "400": {
            "description": "Invalid proposal id or voter address",
            "headers": {},
            "content": {}
          },
          "404": {
            "description": "Found no vote",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/gov/proposals/{proposalId}/tally": {
      "get": {
        "tags": [
          "Governance"
        ],
        "summary": "Get a proposal's tally result at the current time",
        "description": "Gets a proposal's tally result at the current time. If the proposal is pending deposits (i.e status 'DepositPeriod') it returns an empty tally result.",
        "operationId": "Getaproposal'stallyresultatthecurrenttime",
        "parameters": [
          {
            "name": "proposalId",
            "in": "path",
            "description": "proposal id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TallyResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid proposal id",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/gov/parameters/deposit": {
      "get": {
        "tags": [
          "Governance"
        ],
        "summary": "Query governance deposit parameters",
        "description": "Query governance deposit parameters. The max_deposit_period units are in nanoseconds.",
        "operationId": "Querygovernancedepositparameters",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuerygovernancedepositparametersResponse"
                }
              }
            }
          },
          "400": {
            "description": "<other_path> is not a valid query request path",
            "headers": {},
            "content": {}
          },
          "404": {
            "description": "Found no deposit parameters",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/gov/parameters/tallying": {
      "get": {
        "tags": [
          "Governance"
        ],
        "summary": "Query governance tally parameters",
        "description": "Query governance tally parameters",
        "operationId": "Querygovernancetallyparameters",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuerygovernancetallyparametersResponse"
                }
              }
            }
          },
          "400": {
            "description": "<other_path> is not a valid query request path",
            "headers": {},
            "content": {}
          },
          "404": {
            "description": "Found no tally parameters",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/gov/parameters/voting": {
      "get": {
        "tags": [
          "Governance"
        ],
        "summary": "Query governance voting parameters",
        "description": "Query governance voting parameters. The voting_period units are in nanoseconds.",
        "operationId": "Querygovernancevotingparameters",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuerygovernancevotingparametersResponse"
                }
              }
            }
          },
          "400": {
            "description": "<other_path> is not a valid query request path",
            "headers": {},
            "content": {}
          },
          "404": {
            "description": "Found no voting parameters",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": true
      }
    },
    "/v1/gov/proposals/{proposalId}": {
      "get": {
        "tags": [
          "Governance"
        ],
        "summary": "Get proposal",
        "description": "Get proposal",
        "operationId": "Getproposal",
        "parameters": [
          {
            "name": "proposalId",
            "in": "path",
            "description": "Proposal id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account",
            "in": "query",
            "description": "User account",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getProposalResult"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/gov/proposals/{proposalId}/deposits": {
      "get": {
        "tags": [
          "Governance"
        ],
        "summary": "Get proposal's deposits",
        "description": "Get proposal's deposits",
        "operationId": "Getproposal'sdeposits",
        "parameters": [
          {
            "name": "proposalId",
            "in": "path",
            "description": "Proposal id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getProposalDepositsResult"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/gov/proposals": {
      "get": {
        "tags": [
          "Governance"
        ],
        "summary": "Get proposal list",
        "description": "Get proposal list",
        "operationId": "Getproposallist",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "'deposit', 'voting', 'passed', 'rejected'",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getProposalListResult"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/gov/proposals/{proposalId}/votes": {
      "get": {
        "tags": [
          "Governance"
        ],
        "summary": "Get proposal's votes",
        "description": "Get proposal's votes",
        "operationId": "Getproposal'svotes",
        "parameters": [
          {
            "name": "proposalId",
            "in": "path",
            "description": "Proposal id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "limit",
            "in": "query",
[...]
